/* ---------------- GLOBAL STYLE ---------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(241, 241, 241);
    color: rgb(33, 33, 33);
}

/* ---------------- NAVBAR ---------------- */
header {
    background-color: rgb(0, 57, 145);
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    width: 100%;
}
.logo{
    font-size: 24px;
    font-weight: 700;
}

nav a {
    margin: 0;
    padding: 20px 15px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    justify-content: center;
}

header h1 {
    font-size: 22px;
    font-weight: 600;
}

nav a:hover {
  background-color: rgb(2, 126, 175);
  border-radius: 4px;
}

/* ---------------- HERO SECTION ---------------- */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
}

.hero-text h2 {
    font-size: 50px;
    font-weight: 700;
}

.hero-text h3 {
    font-size: 56px;
    color: rgb(255, 94, 77); /* orange heading */
    font-weight: 700;
}

.hero-text p {
    margin-top: 10px;
    font-size: 14px;
}

.hero img {
    width: 320px;
}

/* ---------------- ABOUT SECTION ---------------- */
section {
    padding: 20px 40px;
    scroll-margin-top: 50px;
}

section h2 {
    margin-bottom: 15px;
    font-size: 30px;
}

/* ---------------- SKILLS ---------------- */
.skills {
    padding: 40px;
}

.skill-boxes {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.skill-card {
    background: #004aad;
    color: white;
    width: 35%;
    padding: 25px 10px;
    text-align: center;
    border-radius: 8px;
    transition: 0.3s;
}

.skill-card:hover {
    transform: translateY(-4px);
    background-color: rgb(0, 62, 147);
}
section {
    scroll-margin-top: 50px;
}
/* ---------------- PROJECTS ---------------- */
.projects-container {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 30px; */
}
.project-card {
    background: white;
    padding: 40px;
    margin: 20px auto;
    width: 70%;
    height: 300px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.project-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* ---------------- CONTACT FORM ---------------- */
.contact {
    padding: 40px;
}

.contact form {
    background: white;
    padding: 30px;
    width: 40%;
    margin: 0 auto;
    border-radius: 10px;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    border-radius: 4px;
}
button {
    padding: 15px;
    background: #004aad;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}
button:hover {
    background-color: rgb(0, 62, 147);
}

/* ---------------- FOOTER ---------------- */
footer {
    margin-top: 40px;
    text-align: center;
    padding: 15px;
    background-color: rgb(0, 57, 145);
    color: white;
    font-size: 14px;
}

#top-btn{
    width: 10%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(34, 34, 196);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* ---------------- RESPONSIVE ---------------- */
@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .hero img {
        width: 250px;
    }
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        gap: 10px;
    }

    nav ul {
        gap: 15px;
    }

    .hero-text h2,
    .hero-text h3 {
        font-size: 34px;
    }
}
/* Color Changing Animation */
@keyframes colorChange {
    0%   { color: rgb(255, 94, 77); }     /* Orange */
    50%  { color: rgb(0, 73, 173); }      /* Blue */
    100% { color: rgb(255, 94, 77); }     /* Orange */
}

.animated-text {
    animation: colorChange 3s infinite ease-in-out;
}

/* Profile Image */

.profile-img {
  border-radius: 100%;
  display: block;
  margin: 20px auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}